__pycache__/
*.py[cod]
*.pyd
.venv/
venv/

dataset/
artifacts/
model/
models/
diagnostics/
cache/
runs/
logs/

pnnx-*-windows/
tools/
pnnx.exe
onnx2ncnn.exe

board_pack/test_images/
board_pack/deploy_cls/test_images/

*.ckpt
*.ncnn.bin
*.ncnn.param
*.onnx
*.pth
*.pt
*.7z
*.zip
